<p>it-skills works!</p>
<div class="flex-container">
<div *ngFor="let skills of skillslistch" class="flex-item">
  <h3>
    {{ skills.name }}
  </h3>
  <mat-accordion>
  <div *ngFor="let description of skills.description" >


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ description }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

  </div>
    </mat-accordion>
  <mat-progress-spinner [value]="60" [diameter]="100" [strokeWidth]="10"></mat-progress-spinner>
</div>
</div>
