div {
  padding: 0px 10px ;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; //TODO center if alone so center everything

}
.flex-item {
  padding: 10px;
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-item {
    flex: 100%;
  }
}
